APP_ENVIRONMENT=production
APP_NAME=tinynote
APP_URL=http://localhost:8080/
APP_BASE_URL=/
#APP_HTTP_PROXY=127.0.0.1:4444

DB_DEFAULT_DRIVER=mysql
DB_DEFAULT_HOST=localhost
DB_DEFAULT_PORT=3306
DB_DEFAULT_USERNAME=root
DB_DEFAULT_PASSWORD=secret
DB_DEFAULT_DATABASE=tinynote
DB_DEFAULT_CHARSET=utf8mb4
DB_DEFAULT_COLLATION=utf8mb4_general_ci

JWT_PRIVATE_KEY_PATH=../writable/jwt/rsa-private-key.pem
JWT_PUBLIC_KEY_PATH=../writable/jwt/rsa-public-key.pem

CRYPT_PATH_KEYS=../writable/keys/
