APP_URL=http://localhost:8080/

DB_DRIVER=mysql
DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=secret
DB_DATABASE=tinynote
DB_CHARSET=utf8mb4
DB_COLLATION=utf8mb4_general_ci

JWT_PRIVATE_KEY=../writable/jwt/rsa-private-key.pem
JWT_PUBLIC_KEY../writable/jwt/rsa-public-key.pem
